<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create your thread!</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div class="threadbox">
        <form>
            <div class="threadbox-input">
                <img src="image/pp.png" alt="">
                <textarea style="width: 100vh; height: 60vh;"  rows="3" placeholder="What's up today?"></textarea>
                <div class="add-post-links">
                    <label for="sel1">Category:</label>
                    <select class="form-control" id="sel1">
                    <option>Automotive</option>
                    <option>Entertaiment</option>
                    <option>Games</option>
                    <option>Sports</option>
                    <option>Technology</option>
                    </select>
                </div>
            </div>
            <button class="threadbox-threadbutton">Post</button>
        </form>
    </div>
</body>
</html>