<!DOCTYPE html>
<html>
    <header>
        <link rel="stylesheet" type="text/css" href="dashboard.css">
    </header>
    
    <body>
        <fieldset class="fieldset">
            <div class="fieldset-heading">
            <h2 class="fieldset-title">Dashboard</h2>
            </div>
            <form action="" method="post">
                <table>
                    <tr>
                        <td>Employee ID</td>
                        <td>:     </td>
                        <td><input type="text" name="EmpID" required /></td>
                    </tr>
                    <tr>
                        <td>Order ID</td>
                        <td>:     </td>
                        <td><input type="text" name="OrdID" required /></td>
                    </tr>
                    <tr>
                        <td>Order Detail ID</td>
                        <td>:     </td>
                        <td><input type="text" name="DetailID" required /></td>
                    </tr>
                    <tr>
                        <td>Date</td>
                        <td>:     </td>
                        <td><input type="date" name="date" required /></td>
                    </tr>
                    <tr>
                        <td>Menu ID</td>
                        <td>:     </td>
                        <td><select>
                            <option>####</option>
                            <option>####</option>
                            <option>####</option>
                        </select>
                    </tr>
                    <tr>
                        <td>Menu name</td>
                        <td>:     </td>
                        <td><input type="text" name="MenuName" required /></td>
                    </tr>
                    <tr>
                        <td>quantity</td>
                        <td>:     </td>
                        <td><input type="number" name="quantity" required /></td>
                    </tr>
                    <tr>
                        <td>Price</td>
                        <td>:     </td>
                        <td><input type="text" name="Price" required /></td>
                    </tr>
                    <tr>
                        <td>Total</td>
                        <td>:     </td>
                        <td><input type="text" name="Total" required /></td>
                    </tr>
                    <td><input type="submit" name="tambah" value="update" /></td>                                       
                </table>                                                                              
        </fieldset>
    </body>
</html>